<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5f8HIwut7RIWNk05lTyLQ9HaM7ai1JFM</string>
	<key>GCM_SENDER_ID</key>
	<string>520481338319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incode.egyAkin</string>
	<key>PROJECT_ID</key>
	<string>egyakin-e28b5</string>
	<key>STORAGE_BUCKET</key>
	<string>egyakin-e28b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520481338319:ios:389966c7cd24fd9aeb18ba</string>
</dict>
</plist>